* {
  margin: 0;
}

.App {
  text-align: center;
}

.title {
  display: flex;
  justify-content: space-evenly;
  background-color: #a16ae8;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 900;
  height: 60px;
  width: 100%;
  margin-bottom: 30px;
  padding-top: 20px;
  position: fixed;
  top: 0;
}
.addTask {
  display: flex;
  justify-content: space-between;
  width: 400px;
  height: 45px;
  background-color: #a16ae8;
  border-radius: 10px;
  bottom: 50px;
}
.inputbar {
  width: 350px;
  color: #eae7fa;
  font-size: 18px;
}
.inputbar:focus {
  outline: none;
}
.addbar {
  color: #eae7fa;
  margin-left: 10px;
}
.footerdiv {
  background-color: white;
  height: 60px;
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
